html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.contain, 
.contain .slide-contain,
.contain .slide-contain .slide-item,
.contain .slide-contain .slide-item .pic{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

/*最外层容器*/
.contain {
	position: relative;
}

/*幻灯片容器*/
.contain .slide-contain{
	z-index: 3;
	height: calc(100% - 16px);  /*下面导航条高度16px*/
}
.contain .slide-contain .slide-item{
	transition: 1s;
	opacity: 0;
}
.contain .slide-contain .pic{
	background-image:url(../image/2.jpg);
	background-size: cover;
	background-repeat:no-repeat;
}


/*幻灯片active*/
.contain .slide-contain .slide-item.left{
	transform: translateX(-50%)scale(0.7);
}
.contain .slide-contain .slide-item.right{
	transform: translateX(50%)scale(0.7);
}
.contain .slide-contain .slide-item.active{
	opacity: 1;
	transform: translateX(0)scale(1);
}

/*导航栏*/

.contain .nav-contain{
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	width: 100%;
	height: 16px;
	align-items: center;
	background: #fff;
	justify-content: space-between;/*均与布局*/
}
.nav-contain:hover .nav-item{
	z-index: 99;
}
.contain .nav-contain .nav-item{
	position: relative;
	flex: 1;
	height: 100%;
	background-color:slategray ;
}
.contain .nav-contain .nav-item + .nav-item { /*相邻兄弟选择器*/
  margin-left: 1px;
}/*?*/
.contain .nav-contain .nav-item:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	transition: 500ms;
	background-color:#fff ;
}
.contain .nav-contain .nav-item:hover::after{
	width: 100%;
}

.contain .nav-contain .nav-item img{
	position: absolute;
	z-index: 2;
	width: 100%;
	left: 0;
	bottom: 16px;
	transform:translateY(-40%);
	opacity: 0;
	transition: 500ms;
}

.contain .nav-contain .nav-item:hover img{
	transform:translateY(0);
	opacity: 1;
	/*倒影*/
	-webkit-box-reflect: below 0px 
	-webkit-gradient(
	linear,
	left top,
	left bottom,
	from(transparent),
	color-stop(80%,transparent),
	to(rgba(255,255,255,.7))
	); 
}

.contain .nav-contain .nav-item.active{
	background: salmon;
}

.contain .nav-contain .nav-item.active:hover img{
	opacity: 0;
}
.contain .nav-contain .nav-item.active:hover:after{
	width: 0;
}


/*前后切换按钮*/
.contain .prev,
.contain .next{
	position: absolute;
	
	top: 50%;
	right: 0;
	transform:translateY(-50%);
	width: 100px;
	height: 100px;
	z-index: 100;
	opacity: 0;
	transition: 200ms;
	
}
.contain .prev{
	left: 0;
	background: url(../image/btn_prev.png)no-repeat center center;
}
.contain .next{
	background: url(../image/btn_next.png)no-repeat center center;
}

.contain .prev:hover,
.contain .next:hover{
	opacity: 1;
}
