#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #000;
}
.nav-box {
  background: #eff4f8;
  padding: 0px 300px;
}
.nav {
  overflow: hidden;
}
.nav li{
   float: left;
   padding: 30px;
   cursor: pointer;
}
.nav li a {
  text-align: center;
}
.router-link-active {
  background: #fff;
}

.router-link-active a{
  color: blue;
}

.slider {
  position: absolute;
  left: 0px;
  top: 78px;
  width: 100px;
  height: 1000px;
  border-right: 4px solid #ccc;
}

.center {
  text-align: center;
  font-size: 50px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 120px;
}

.is-active {
  background: rgb(246, 189, 169);
}

.nav-active {
  background: rgb(237, 176, 146);
}
