body{
	margin:0;
	font: 12px/1.5 Microsoft YaHei,Tahoma,SimSun,Verdana;
	overflow: hidden;
}
a{
	text-decoration: none;
	color: #000;
}
p,ul,input{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
strong{
	font-weight: normal;
}

.clearFix:after{
	content: "";
	display: block;
	clear: both;	
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
